---
import Button from '@components/common/Button.astro';
import CarouselEvents from '@components/common/CarouselEvents.astro';
import LeftElement from '@components/common/LeftElement.astro';
import TitleDivider from '@components/common/TitleDivider.astro';

/* importing all images from the events folder */

const images = await Astro.glob(
  '/src/images/events/*.{jpeg,jpg,png,gif,webp}'
).then((files) => {
  return files.map((file) => file.default);
});

interface Props {
  class?: string;
  title?: string;
  buttonText?: string;
  buttonLink?: string;
}
const { title = 'Eventos', buttonLink, buttonText } = Astro.props;
---

<section class='relative pt-16 pb-12 md:pt-32 md:pb-16 lg:pt-40 lg:pb-28'>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'>{title}</TitleDivider>

    <CarouselEvents images={images} class='mb-8' />

    {
      buttonText && buttonLink && (
        <div class='flex justify-center'>
          <Button variant='secondary' href={buttonLink}>
            {buttonText}
          </Button>
        </div>
      )
    }
  </div>
  <LeftElement />
</section>
