---
import Button from '@components/common/Button.astro';
import Carousel from '@components/common/Carousel.astro';
import CarouselSlide from '@components/common/CarouselSlide.astro';
import LeftElement from '@components/common/LeftElement.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import type { Event } from 'src/data/events';

interface Props {
  class?: string;
  events: Event[];
  title?: string;
  buttonText?: string;
  buttonLink?: string;
}
const { events, title = 'Eventos', buttonLink, buttonText } = Astro.props;
---

<section class='relative pt-16 pb-12 md:pt-32 md:pb-16 lg:pt-40 lg:pb-28'>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'>{title}</TitleDivider>
    {
      events.length > 0 && (
        <Carousel class='mb-8'>
          {events.map((event) => (
            <CarouselSlide imageUrl={event.imagePath} type='events' />
          ))}
        </Carousel>
      )
    }

    {
      buttonText && buttonLink && (
        <div class='flex justify-center'>
          <Button variant='secondary' href={buttonLink}>
            {buttonText}
          </Button>
        </div>
      )
    }
  </div>
  <LeftElement />
</section>
