---
import Button from '@components/common/Button.astro';
import Carousel from '@components/common/Carousel.astro';
import CarouselSlide from '@components/common/CarouselSlide.astro';
import TitleDivider from '@components/common/TitleDivider.astro';

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class:list={[className]}>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'>Eventos</TitleDivider>
    <Carousel class='mb-8'>
      <CarouselSlide
        imageUrl='https://www.paseosantacatarina.com/_next/image?url=%2Fmultimedia%2FE6.webp&w=2048&q=75'
      />
      <CarouselSlide
        imageUrl='https://www.paseosantacatarina.com/_next/image?url=%2Fmultimedia%2FE_NAVIDAD_DE_ROLY_POST_FB.jpg&w=2048&q=75'
      />
      <CarouselSlide
        imageUrl='https://www.paseosantacatarina.com/_next/image?url=%2Fmultimedia%2FE_ENCENDIDO_DE_PINO_DESFILE_NAVIDEN%CC%83O_POST_FB.jpg&w=2048&q=75'
      />
      <CarouselSlide
        imageUrl='https://www.paseosantacatarina.com/_next/image?url=%2Fmultimedia%2FE_RITMOS_SANTA_POST_FB.jpg&w=2048&q=75'
      />
    </Carousel>
    <div class='flex justify-center'>
      <Button variant='primary' href='#'>Ver Mas</Button>
    </div>
  </div>
</section>
