---
import Button from '@components/common/Button.astro';
import Carousel from '@components/common/Carousel.astro';
import CarouselSlide from '@components/common/CarouselSlide.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
---

<section class='min-h-screen py-12 md:py-16 lg:py-28'>
  <div class='container'>
    <TitleDivider class='text-gray-500 mb-8'>Hola</TitleDivider>
    <Carousel class='mb-8'>
      <CarouselSlide
        imageUrl='https://www.cancungranplaza.com/_next/image?url=%2Fmultimedia%2FEvento-3.jpg&w=640&q=75'
        title='Hola'
      />
      <CarouselSlide
        imageUrl='https://www.cancungranplaza.com/_next/image?url=%2Fmultimedia%2FEvento-3.jpg&w=640&q=75'
        title='Hola'
      />
      <CarouselSlide
        imageUrl='https://www.cancungranplaza.com/_next/image?url=%2Fmultimedia%2FEvento-3.jpg&w=640&q=75'
        title='Hola'
      />
      <CarouselSlide
        imageUrl='https://www.cancungranplaza.com/_next/image?url=%2Fmultimedia%2FEvento-3.jpg&w=640&q=75'
        title='Hola'
      />
    </Carousel>
    <div class='flex justify-center'>
      <Button href='/' variant='primary'> Ver Más </Button>
    </div>
  </div>
</section>
