---
import TitleDivider from '@components/common/TitleDivider.astro';
import { Image } from 'astro:assets';
---

<section class='min-h-screen'>
  <div class='container'>
    <TitleDivider>Hola</TitleDivider>
  </div>
</section>
