---
import CalendarTime from '@components/icons/CalendarTime.astro';
import MapPin from '@components/icons/MapPin.astro';
import Phone from '@components/icons/Phone.astro';
import Facebook from '@components/icons/Facebook.astro';
import Instagram from '@components/icons/Instagram.astro';
---

<footer class='bg-secondary text-white py-12 rounded-t-lg'>
  <div
    class='container max-w-screen-lg flex flex-col gap-8 md:flex-row md:justify-between'
  >
    <div class='flex-auto'>
      <h2 class='text-2xl font-bold mb-4'>Contacto</h2>

      <ul class='flex flex-col gap-4'>
        <li class='flex items-center gap-2'>
          <CalendarTime />
          Lunes a Domingo de 11:00 am - 10:00 pm
        </li>

        <li class='flex items-center gap-2'>
          <MapPin />
          <a
            href='https://maps.app.goo.gl/xUMc9rSk52MibQwZ7'
            class='hover:underline'
          >
            518, Av. Nichupté Supermanzana 51 Manzana 18, Sin Nombre, 77536
            Cancún, Q.R.
          </a>
        </li>

        <li class='flex items-center gap-2'>
          <Phone />
          <a href='tel: +529982061694' class='hover:underline'>
            +52 (998)-206-1694
          </a>
        </li>
      </ul>
    </div>

    <div class='flex-none'>
      <h2 class='text-2xl font-bold mb-4'>Mapa del Sitio</h2>

      <ul class='gap-4 flex flex-col'>
        <li><a href='/' class='hover:underline'>Inicio</a></li>
        <li><a href='/directorio' class='hover:underline'>Directorio</a></li>
        <li><a href='/eventos' class='hover:underline'>Eventos</a></li>
        <li><a href='/promociones' class='hover:underline'>Promociones</a></li>
        <li><a href='#footer' class='hover:underline'>Contacto</a></li>
      </ul>
    </div>

    <div class='flex-auto'>
      <h2 class='text-2xl font-bold mb-4'>Síguenos</h2>

      <div class='flex space-x-4'>
        <a
          href='facebook.com'
          target='_blank'
          class='hover:text-gray-300'
          aria-label='facebook'
        >
          <Facebook />
        </a>
        <a
          href='instagram.com'
          target='_blank'
          class='hover:text-gray-300'
          aria-label='instagram'
        >
          <Instagram />
        </a>
      </div>
    </div>
  </div>
</footer>
