---
import Logo from '@images/logo.png';
import LogoPlaniGrupo from '@images/logo-bw-pg.png';
import { Image } from 'astro:assets';
---

<footer class='bg-black text-white py-6'>
  <div
    class='container max-w-screen-lg flex flex-col items-center lg:flex-row md:justify-between'
  >
    <div class='flex items-center space-x-4 mb-4 lg:mb-0'>
      <Image src={Logo} alt='Logo Gran Plaza' class='w-28' />
      <div class='border-l border-white h-28 md:h-24 ml-4'></div>
      <Image src={LogoPlaniGrupo} alt='Logo Planigrupo' class='w-28' />
    </div>
    <nav
      class='flex flex-col items-center space-y-2 md:space-y-0 md:flex-row md:space-x-8'
    >
      <a
        href='https://planigrupo.com.mx/nosotros/'
        target='_blank'
        class='hover:underline'>Nosotros</a
      >
      <a
        href='https://planigrupo.com.mx/portafolio/'
        target='_blank'
        class='hover:underline'>Portafolio</a
      >
      <a
        href='https://planigrupo.com.mx/comercializacion/'
        target='_blank'
        class='hover:underline'>Comercialización</a
      >
      <a
        href='https://planigrupo.com.mx/inversionistas/'
        target='_blank'
        class='hover:underline'>Inversionistas</a
      >
      <a
        href='https://planigrupo.com.mx/contacto/'
        target='_blank'
        class='hover:underline'>Contacto</a
      >
    </nav>
  </div>
</footer>
