---
import { Image } from 'astro:assets';
import Logo from '@images/logo.png';
---

<nav
  class='container flex items-center w-full justify-between py-4
        md:justify-center absolute top-0 left-0 right-0 z-50'
>
  <Image
    class='relative z-10 md:hidden'
    width='80'
    height='70'
    src={Logo}
    alt='Logo'
  />

  <button
    id='hamburger'
    class='flex flex-col gap-2 items-center justify-center w-8 h-10 relative z-10 text-white
    focus:outline-none
    md:hidden'
  >
    <span class='block w-full h-0.5 bg-current'></span>
    <span class='block w-full h-0.5 bg-current'></span>
    <span class='block w-full h-0.5 bg-current'></span>
  </button>

  <ul
    id='menu'
    class='flex flex-col gap-4 translate-x-full transition-transform ease-in-out bg-black text-white fixed inset-0 p-8 justify-center text-3xl font-bold uppercase
          md:bg-transparent md:relative md:translate-x-0 md:gap-8 md:items-center md:flex-row md:text-base md:p-0 md:font-medium md:normal-case'
  >
    <li>
      <a href='/directorio' class='transition-colors hover:text-primary'
        >Directorio</a
      >
    </li>
    <li>
      <a href='/eventos' class='transition-colors hover:text-primary'>Eventos</a
      >
    </li>
    <li class='hidden
              md:block'>
      <a href='/'>
        <Image width='125' height='100' src={Logo} alt='Logo' />
      </a>
    </li>
    <li>
      <a href='/promociones' class='transition-colors hover:text-primary'
        >Promociones</a
      >
    </li>
    <li>
      <a href='#footer' class='transition-colors hover:text-primary'>Contacto</a
      >
    </li>
  </ul>
</nav>

<script>
  const hamburger = document.getElementById('hamburger') as HTMLButtonElement;
  const menu = document.getElementById('menu') as HTMLUListElement;

  hamburger.addEventListener('click', () => {
    menu.classList.toggle('translate-x-full');
  });
</script>
