---
import RightElement from '@components/common/RightElement.astro';
import { Image } from 'astro:assets';
import Text from '@images/hero-text.png';
---

<section class='hero pt-32 pb-[32rem] md:py-72 px-8 relative'>
  <div class='container p-0 md:grid md:grid-cols-2 md:gap-8'>
    <Image
      class='md:col-start-2 md:mb-14 w-96'
      width='1450'
      height='500'
      decoding='async'
      loading='lazy'
      src={Text}
      alt=''
    />
  </div>

  <RightElement />
</section>

<style>
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url('../../images/personas.png'), url('../../images/bg-hero.png');
    background-size:
      cover,
      auto 70%,
      cover;
    background-position:
      center,
      center bottom,
      center;
    background-repeat: no-repeat;
    grid-template-columns: repeat(2, 1fr);
  }

  .people {
    grid-area: people;
  }

  .text {
    grid-area: text;
    align-self: end;
  }

  @media (width >= 768px) {
    .hero {
      background-size: cover, contain, cover;
      background-position:
        center,
        calc(50% - 250px) bottom,
        center;
    }
  }

  @media (width >= 1024px) {
    .hero {
      background-position:
        center,
        calc(50% - 300px) bottom,
        center;
    }
  }
</style>
