---
import Button from '@components/common/Button.astro';
import Carousel from '@components/common/Carousel.astro';
import CarouselSlide from '@components/common/CarouselSlide.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import fase1 from '@images/face-1.jpg';

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
console.log(fase1.src);
---

<section class:list={[className]}>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'>Nosotros</TitleDivider>
    <Carousel class='mb-8'>
      <CarouselSlide imageUrl={'face-1.jpg'} />
      <CarouselSlide imageUrl={'face-2.jpg'} />
      <CarouselSlide imageUrl={'face-3.jpg'} />
      <CarouselSlide imageUrl={'face-4.jpg'} />
    </Carousel>
    <div class='flex justify-center'>
      <Button
        variant='secondary'
        href='https://www.facebook.com/cancungranplaza/photos_albums'
        >Ver Mas</Button
      >
    </div>
  </div>
</section>
