---
import Button from '@components/common/Button.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import ImagesGrid from '@components/common/ImagesGrid.astro';

interface Props {
  class?: string;
  images: any;
}
const { class: className, images } = Astro.props;
---

<section class:list={[className]}>
  <div class='container'>
    <TitleDivider class='text-primary mb-8'> Nosotros </TitleDivider>

    <ImagesGrid images={images} enableThreeColumns />

    <Button
      variant='primary'
      href='https://www.facebook.com/cancungranplaza/photos_albums'
      target='_blank'>Más Fotos</Button
    >
  </div>
</section>
