---
import Button from '@components/common/Button.astro';
import { Image } from 'astro:assets';
import TitleDivider from '@components/common/TitleDivider.astro';
import ImagesGrid from '@components/common/ImagesGrid.astro';

interface Props {
  class?: string;
  images: any;
}
const { class: className, images } = Astro.props;
---

<section class:list={[className]}>
  <ImagesGrid>
    {
      Object.keys(images).map((image: any) => (
        <Image src={image} alt='' width={800} height={800} class='w-full' />
      ))
    }

    <div class='absolute inset-0 flex items-center justify-center'>
      <Button
        variant='secondary'
        href='https://www.facebook.com/cancungranplaza/photos_albums'
        target='_blank'>Más Fotos</Button
      >
    </div>
  </ImagesGrid>
</section>
