---
import Button from '@components/common/Button.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import ImagesGrid from '@components/common/ImagesGrid.astro';

const images = await Astro.glob(
  '/src/images/homeGallery/*.{jpeg,jpg,png,gif,webp}'
).then((files) => {
  return files.map((file) => file.default);
});

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class:list={[className]}>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'> Nosotros </TitleDivider>

    <ImagesGrid class='mb-8' images={images} enableThreeColumns />
    <div class='flex justify-center'>
      <Button
        variant='secondary'
        href='https://www.facebook.com/cancungranplaza/photos_albums'
        target='_blank'>Más Fotos</Button
      >
    </div>
  </div>
</section>
