---
import { Image } from 'astro:assets';
import Layout from 'src/layouts/Layout.astro';
import { stores } from 'src/data/stores.js';
---

<Layout title='Directorio'>
  <div class='bg-black py-14 md:py-20'>
    <div class='container'>
      <h1 class='text-white font-black text-3xl'>Title</h1>
    </div>
  </div>

  <section>
    <div class='container'>
      <div
        class='grid grid-cols-2 gap-px p-px bg-gray-200
                md:grid-cols-4 lg:grid-cols-5'
      >
        {
          stores.map((store) => (
            <div
              class='bg-white aspect-square flex flex-col items-center 
                      justify-center p-12 grayscale transition-all hover:grayscale-0'
            >
              <Image src={store.src} alt={store.alt} width={200} height={150} />
              <div>
                <h2>{store.categoria}</h2>
                <p>{store.horario}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
