---
import Layout from 'src/layouts/Layout.astro';
import GaleriaDirectorio from '@components/sections/GaleriaDirectorio.astro';
---

<Layout title='Directorio'>
  <div class='bg-black py-14 md:py-20'>
    <div class='container'>
      <h1 class='text-white font-black text-3xl'>Title</h1>
    </div>
  </div>
  <GaleriaDirectorio />
</Layout>
