---
import Layout from 'src/layouts/Layout.astro';
import PageHero from '@components/common/PageHero.astro';
import { events } from 'src/data/events.js';
import ImageItem from '@components/common/ImageItem.astro';
import ImageGrid from '@components/common/ImagesGrid.astro';
---

<Layout title='Eventos'>
  <PageHero title='Eventos' />
  <section>
    <ImageGrid enableThreeColumns>
      {
        events.map((event) => (
          <ImageItem
            imagePath={event.imagePath}
            title={event.title}
            type='events'
          />
        ))
      }
    </ImageGrid>
  </section>
</Layout>
