---
import BannerText from "../components/ui/BannerText.astro";
import Layout from "../layouts/Layout.astro";

import event_1 from "../assets/events/1.jpg";
import event_2 from "../assets/events/2.jpg";

const events = [
  { src: event_1.src },
  { src: event_2.src },
];
---

<Layout title='Eventos'>
  <BannerText title="Eventos" />

  <div class="py-16">
    <div class="px-10 grid gap-4 justify-items-center mx-auto max-w-6xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {
        events.map((event) => (
          <img
            src={event.src}
            alt="Evento"
            class="w-[55rem] rounded"
          />
        ))
      }
    </div>
  </div>
</Layout>
