---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Events from '@components/sections/Events.astro';
import Stores from '@components/sections/Stores.astro';
import Us from '@components/sections/Us.astro';
import Footer from '@components/sections/Footer.astro';
import FooterBottom from '@components/sections/FooterBottom.astro';
import FloatingElement from '@components/common/FloatingElement.astro';
---

<Layout title='Home | Gran Plaza Cancun'>
  <main>
    <Hero />
    <FloatingElement />
    <Events />
    <Stores />
    <Us />
    <Footer />
    <FooterBottom />
  </main>
</Layout>
