---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Events from '@components/sections/Events.astro';
import Stores from '@components/sections/Stores.astro';
import { stores } from 'src/data/stores.js';
import { events } from 'src/data/events.js';
import Nosotros from '@components/sections/Nosotros.astro';
---

<Layout title='Home | Gran Plaza Cancun'>
  <main>
    <Hero />
    <Events
      events={events}
      class='relative pt-16 pb-12 md:pt-32 md:pb-16 lg:pt-40 lg:pb-28'
    />
    <Stores
      stores={stores}
      class:list='pt-16 pb-12 md:pt-32 md:pb-16 lg:pt-40 lg:pb-28'
    />
    <Nosotros />
  </main>
</Layout>
