---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Events from '@components/sections/Events.astro';
import Stores from '@components/sections/Stores.astro';
import Us from '@components/sections/Us.astro';
---

<Layout title='Home | Gran Plaza Cancun'>
  <main>
    <Hero />
    <Events class='relative pt-16 pb-12 md:pt-32 md:pb-16 lg:pt-40 lg:pb-28' />
    <Stores />
    <Us />
  </main>
</Layout>
