---
import Layout from 'src/layouts/Layout.astro';
import PageHero from '@components/common/PageHero.astro';
import ImageGrid from '@components/common/ImagesGrid.astro';

/* importing all images from the events folder */
const promos = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/promo/*.{jpeg,jpg,png,gif,webp}'
);
---

<Layout title='Promociones'>
  <PageHero title='Promociones' />
  <section class='py-12 md:py-16 lg:py-28'>
    <div class='container'>
      <ImageGrid images={promos} enableThreeColumns />
    </div>
  </section>
</Layout>
