---
import floatingImage from '../images/floating-element.png'; // Asegúrate de que la ruta sea correcta
---

<div class='relative'>
  <img
    src='https://www.cancungranplaza.com/_next/static/media/Elemento1.aa76fdff.png'
    alt='Floating Element'
    class='absolute bottom-[-20%] left-1/2 transform -translate-x-1/2 max-w-full max-h-[65%] z-10'
  />
</div>
