---
import { Image } from 'astro:assets';

interface Props {
  image: any;
  type: 'events' | 'stores';
  alt?: string;
}

const { image, type, alt } = Astro.props;
---

  {
    image && (
      <div class=`slide pl-4 ${type}`>
        <Image
          width={200}
          height={200}
          src={image}
          alt={alt || ''}
          class='w-full rounded-xl'
        />
      </div>
    )
  }
<style>
  .slide {
    --slide-items: 1;

    flex: 0 0 calc(100% / var(--slide-items));
    min-width: 0;

    @media (width >=768px) {
      --slide-items: 2;
    }

    @media (width >= 1024px) {
      --slide-items: 3;
    }

    &.stores {
      img {
        max-width: 250px;
        max-height: 100px;
        object-fit: contain;
      }

      @media (width >=768px) {
        --slide-items: 4;
      }

      @media (width >= 1024px) {
        --slide-items: 5;
      }
    }
  }
</style>
