---
import type { Store } from 'src/data/stores';
import CarouselSlide from './CarouselSlide.astro';

interface StoreWithImage extends Store {
  image: any;
}

interface Props {
  class?: string;
  items: StoreWithImage[];
  type: 'stores';
}
const { class: className, items, type } = Astro.props;
---

<div class:list={[className]} class='carousel-stores overflow-hidden'>
  <div class='flex -ml-4 items-center'>
    {
      items.map(({ image, alt }) => (
        <CarouselSlide image={image} type={type} alt={alt} />
      ))
    }
  </div>
</div>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  const AUTOPLAY_SPEED_IN_SECONDS = 4;

  const OPTIONS: EmblaOptionsType = {
    align: 'center',
    loop: true,
  };

  const plugins = [
    Autoplay({
      delay: AUTOPLAY_SPEED_IN_SECONDS * 1000,
      stopOnInteraction: false,
    }),
  ];

  const emblaNodes = document.querySelectorAll('.carousel-stores');
  emblaNodes.forEach((carousel) => {
    EmblaCarousel(carousel as HTMLElement, OPTIONS, plugins);
  });
</script>
