---
import type { Store } from 'src/data/stores';
import CarouselSlide from './CarouselSlide.astro';
import type { Event } from 'src/data/events';

interface Props {
  class?: string;
  items: Store[] | Event[];
  type: 'events' | 'stores';
}
const { class: className, items, type } = Astro.props;
---

<div class:list={[className]} class='carousel overflow-hidden'>
  <div class='flex -ml-4'>
    {
      items.map(({ imagePath, alt }) => (
        <CarouselSlide imageUrl={imagePath} type={type} alt={alt} />
      ))
    }
  </div>
</div>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  const AUTOPLAY_SPEED_IN_SECONDS = 4;

  const plugins = [
    Autoplay({
      delay: AUTOPLAY_SPEED_IN_SECONDS * 1000,
      stopOnInteraction: false,
    }),
  ];
  const emblaNodes = document.querySelectorAll('.carousel');
  const options: EmblaOptionsType = {
    align: 'start',
    loop: true,
    slidesToScroll: 'auto',
  };

  emblaNodes.forEach((carousel) => {
    EmblaCarousel(carousel as HTMLElement, options, plugins);
  });
</script>
