---
import floatingImage from '@images/floating-element.png'; // Asegúrate de que la ruta sea correcta
---

<div class='absolute right-0 bottom-0 flex justify-end translate-y-1/4'>
  <img
    src='https://www.cancungranplaza.com/_next/static/media/Elemento1.aa76fdff.png'
    alt='Floating Element'
    class='w-[70%] max-w-6xl'
  />
</div>
