---
interface Props {
  class?: string;
  enableThreeColumns?: boolean;
}

const { class: className, enableThreeColumns } = Astro.props;
const gridCols = enableThreeColumns
  ? 'grid-cols-2 md:grid-cols-3'
  : 'grid-cols-2 md:grid-cols-2';
---

<div class={`relative grid ${gridCols} ${className}`}>
  <slot />
</div>
