---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h2
  class:list={[className]}
  class='flex gap-4 items-center text-lg font-bold whitespace-nowrap md:text-3xl'
>
  <slot />
  <span class='w-full h-px bg-current'></span>
</h2>
