---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div class:list={[className]} class='items-center flex justify-center'>
  <h2
    class='uppercase font-extrabold whitespace-nowrap text-3xl
    md:text-5xl'
  >
    <slot />
  </h2>
</div>
