---
import Button from '@components/common/Button.astro';

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div class:list={[className]} class='items-center flex justify-between'>
  <h2 class='text-lg font-bold whitespace-nowrap md:text-5xl'>
    <slot />
  </h2>
  <Button variant='primary' href='#'>Ver Mas</Button>
</div>
