---
const { class: className, ...rest } = Astro.props;
---

<h2
  class:list={[
    'flex',
    'gap-4',
    'items-center',
    'text-lg',
    'font-bold',
    'whitespace-nowrap',
    'md:text-3xl',
    className,
  ]}
>
  <slot />
  <span class='w-full h-px bg-current'></span>
</h2>
