---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<h2
  class:list={[className]}
  class='uppercase font-extrabold whitespace-nowrap text-center text-3xl md:text-5xl lg:text-6xl'
>
  <slot />
</h2>
