---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div class:list={[className]} class='items-center flex justify-center'>
  <h2
    class='uppercase text-lg font-bold font-title whitespace-nowrap md:text-5xl'
  >
    <slot />
  </h2>
</div>
