---
import Footer from '@components/sections/Footer.astro';
import FooterBottom from '@components/sections/FooterBottom.astro';
import Header from '@components/sections/Header.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <FooterBottom />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Averta';
    src: url('/fonts/Averta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Averta';
    src: url('/fonts/AvertaBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
  }

  .slide {
    flex: 0 0 50%;
    min-width: 0;
  }

  .slide h3::before {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    content: '';
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    width: 14px;
  }
</style>
